# Environment Configuration

# [Required] FormSubmit Endpoint
# Replace the email below with your own email address to receive contact form submissions.
# Ensure you verify your email address on the first submission.
VITE_FORMSUBMIT_ENDPOINT="https://formsubmit.co/ajax/your-email@example.com"
